<h1>Champions</h1>
<div id="champions" class="clearfix">
  <div class="champion-tile" *ngFor="let champion of staticChampions">
    <a [routerLink]=" ['/champion/', champion.id] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img class="champion-tile-img" [ngStyle]="champion.spriteStyles" src="assets/img/blank.gif" on-mouseover="champion.hover=true"
        on-mouseleave="champion.hover=false" />
      <div class="champion-tile-tooltip" [hidden]="champion.hover != true">{{champion.name}}</div>
    </a>
  </div>
</div>
