.champion-tile-img {
  height: 26px;
  margin-right: 3px;
}

td {
  vertical-align: middle;
}

#champions-table {
  max-width: 600px;
  margin: 0 auto;
}

select {
  width: 200px;
}

label {
  margin-left: 10%;
}

.form-control {
  width: 80%;
  margin: auto;
}

#filter-form {
  margin-bottom: 1em;
}