<div *ngIf="summonerData" id="summoner-content">
  <h1>
    <img id="summoner-icon" class="inline-riot-lg" [src]="'http://ddragon.leagueoflegends.com/cdn/7.21.1/img/profileicon/' + summonerData.profileIconId + '.png'"> {{summonerData.name}}
  </h1>

  <div id="most-played-champs" *ngIf="champMatchCount">
    <h2>Most Played Champions:</h2>
    <div class="row" *ngIf="staticChampions">
      <div class="col centered" *ngFor="let championCount of champMatchCount.slice(0,5)">
        <img class="champion-icon" [src]="'http://ddragon.leagueoflegends.com/cdn/7.21.1/img/champion/' + staticChampions[championCount.championId].image.full"
        />
        <br>{{championCount.playedCount}}
      </div>
    </div>
  </div>
  <div id="most-played-champs" *ngIf="laneMatchCount">
    <h2>Most Played Lanes:</h2>
    <div *ngFor="let laneCount of laneMatchCount">
      {{laneCount.lane}}: {{laneCount.playedCount}}
    </div>
  </div>
</div>
