@import '../variables.scss';
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

#main-logo {
  color: $base-color;
  font-size: 20pt;
}

#main-content-container {
  margin-top: 12px;
}

