<nav class="navbar navbar-inverse bg-inverse accent-bg">
  <div class="container">
    <a id="main-logo" class="navbar-brand mr-auto" routerLink="/" routerLinkActive="active">
      Statikk
    </a>

    <div class="my-2 my-lg-0">
      <!-- <div class="collapse navbar-collapse " id="navbarNavAltMarkup"> -->
      <div class="navbar-nav ">
        <a class="nav-item nav-link" routerLink="/champions" routerLinkActive="active">
          Champions
        </a>
      </div>
      <!-- </div> -->
    </div>
  </div>
</nav>

<main id="main-content-container" class="container">
  <router-outlet></router-outlet>
</main>
