<div id="team-builder-wrapper">
  <div id="team-builder-header">
    <h1>Team Builder</h1>
  </div>
  <div id="team-builder-body" class="row">
    <div id="team-a-wrapper" class="team-wrapper col-md-2">
      Team A goes here
      <div class="champion-pick-wrapper" *ngFor="let championPickA of teamAChampions">Heya</div>
    </div>
    <div id="central-content" class="col-md-8">
      Champions go here?
    </div>
    <div id="team-b-wrapper" class="team-wrapper col-md-2">
      Team B goes here.
      <div class="champion-pick-wrapper" *ngFor="let championPickB of teamAChampions">Heya</div>

    </div>
  </div>
</div>