<div id="team-builder-wrapper">
  <div id="team-builder-header">
    <h1>Team Builder</h1>
  </div>
  <div id="team-builder-body" class="d-flex flex-row">
    <div id="team-a-wrapper" class="team-wrapper p-1 d-flex flex-column justify-content-around">
      <div class="champion-pick-wrapper p-2" *ngFor="let championPickA of teamAChampions; let i=index">
        <div class="champion-img-wrapper p-2">
          <app-champion-image [championId]="i+6"></app-champion-image>
        </div>
        <div class="role-info-label p-2"> Mid</div>
      </div>
    </div>
    <div id="central-content" class="p-2 d-flex flex-column justify-content-between">
      <h2>Champion Selection</h2>
      <div id="champion-selection-body" class="d-flex flex-wrap">
        <app-champion-image class="champion-selection-tile" *ngFor="let championId of staticChampionIds" [championId]="championId"></app-champion-image>
      </div>
      <h2>Champion Suggestions</h2>
      <div id="champion-suggestion-body" class="d-flex flex-row justify-content-between">
        <div id="best-champ-suggestions">
          <ngb-rating [rate]="5" [max]="5" [readonly]="true"></ngb-rating>
          <div class="d-flex flex-wrap justify-content-around champion-set-wrapper">
            <app-champion-image class="champion-selection-tile" *ngFor="let championId of staticChampionIds; let i=index" [championId]="championId"
              [hidden]="i > 7"></app-champion-image>
          </div>
        </div>
        <div id="better-champ-suggestions">
          <ngb-rating [rate]="4" [max]="5" [readonly]="true"></ngb-rating>
          <div class="d-flex flex-wrap justify-content-around champion-set-wrapper">
            <app-champion-image class="champion-selection-tile" *ngFor="let championId of staticChampionIds; let i=index" [championId]="championId"
              [hidden]="i > 46 || i <= 7"></app-champion-image>
          </div>
        </div>
        <div id="average-champ-suggestions">
          <ngb-rating [rate]="3" [max]="5" [readonly]="true"></ngb-rating>
          <div class="d-flex flex-wrap justify-content-around champion-set-wrapper">
            <app-champion-image class="champion-selection-tile" *ngFor="let championId of staticChampionIds; let i=index" [championId]="championId"
              [hidden]="i > 90 || i <= 46"></app-champion-image>
          </div>
        </div>
        <div id="worse-champ-suggestions">
          <ngb-rating [rate]="2" [max]="5" [readonly]="true"></ngb-rating>
          <div class="d-flex flex-wrap justify-content-around champion-set-wrapper">
            <app-champion-image class="champion-selection-tile" *ngFor="let championId of staticChampionIds; let i=index" [championId]="championId"
              [hidden]="i > 118 || i <= 90"></app-champion-image>
          </div>
        </div>
        <div id="worst-champ-suggestions">
          <ngb-rating [rate]="1" [max]="5" [readonly]="true"></ngb-rating>
          <div class="d-flex flex-wrap justify-content-around champion-set-wrapper">
            <app-champion-image class="champion-selection-tile" *ngFor="let championId of staticChampionIds; let i=index" [championId]="championId"
              [hidden]="i <= 118"></app-champion-image>
          </div>
        </div>

      </div>

    </div>
    <div id="team-b-wrapper" class="team-wrapper p-2 d-flex flex-column justify-content-around">
      <div class="champion-pick-wrapper p-2" *ngFor="let championPickB of teamAChampions; let i=index">
        <div class="champion-img-wrapper p-2">
          <app-champion-image [championId]="i+1"></app-champion-image>
        </div>
        <div class="role-info-label p-2"> Mid</div>
      </div>
    </div>
  </div>
</div>