#home-container {
  width: 100%;
  text-align: center;
}

#main-search-wrapper {
  margin-top: 200px;
}

#main-search-form {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

input#main-search {
  color: #CCC;
  text-align: center;
  border: none;
}

.statikk-input-group-btn {
  border-left: 2px solid #777;
}

input#main-search:focus {
  outline-color: transparent;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #EEE;
  opacity: 0.6;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #EEE;
  opacity: 0.6;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #EEE;
  opacity: 0.6;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #EEE;
  opacity: 0.6;
}
