<div id="champion-content" *ngIf="champion">
  <div id="champion-header-container" class="d-flex justify-content-around align-conent-center accent-bg flex-wrap">
    <h1>{{champion.name}}</h1>
    <app-champion-image [championId]="champion.id"></app-champion-image>
  </div>
  <div class="row" *ngIf="matchups">
    <div class="col-md-6 col-sm-12">
      <h3>Champions {{champion.name}} Counters</h3>
      <div class="d-flex flex-wrap">
        <a class="clickable other-champion" *ngFor="let otherChampionId of matchups.counterToChampions | championNameSort:false:staticChamps"
          [routerLink]="'/champions/' + otherChampionId">
          <app-champion-image [championId]="otherChampionId"></app-champion-image>
        </a>
        <p *ngIf="matchups.counterToChampions.length == 0">{{champion.name}} doesn't counter any champions based on current data</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Champions Who Counter {{champion.name}}</h3>
      <div class="d-flex flex-wrap">
        <a class="clickable other-champion" *ngFor="let otherChampionId of matchups.counteredByChampions" [routerLink]="'/champions/' + otherChampionId">
          <app-champion-image [championId]="otherChampionId"></app-champion-image>
        </a>
        <p *ngIf="matchups.counteredByChampions.length == 0">No champions counter {{champion.name}} based on current data</p>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="teamups">
    <div class="col-md-6 col-sm-12">
      <h3>Champions {{champion.name}} Plays Well With</h3>
      <div class="d-flex flex-wrap">
        <a class="clickable other-champion" *ngFor="let otherChampionId of teamups.teamupWellWithChampions | championNameSort:false:staticChamps"
          [routerLink]="'/champions/' + otherChampionId">
          <app-champion-image [championId]="otherChampionId"></app-champion-image>
        </a>
        <p *ngIf="teamups.teamupWellWithChampions.length == 0">{{champion.name}} doesn't play well with any champions based on current data</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Champions {{champion.name}} Plays Poorly With</h3>
      <div class="d-flex flex-wrap">
        <a class="clickable other-champion" *ngFor="let otherChampionId of teamups.teamupPoorWithChampions | championNameSort:false:staticChamps"
          [routerLink]="'/champions/' + otherChampionId">
          <app-champion-image [championId]="otherChampionId"></app-champion-image>
        </a>
        <p *ngIf="teamups.teamupPoorWithChampions.length == 0">{{champion.name}} doesn't play poorly with any champions based on current data</p>
      </div>
    </div>
  </div>
</div>